<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RgisterServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<display-name>EditServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCompanyServlet</servlet-name>
  	<display-name>AddCompanyServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.AddCompanyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveCompanyServlet</servlet-name>
  	<display-name>RemoveCompanyServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.RemoveCompanyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSelectedStudentServlet</servlet-name>
  	<display-name>AddSelectedStudentServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.AddSelectedStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentQueryServlet</servlet-name>
  	<display-name>StudentQueryServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.StudentQueryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SolveQueryServlet</servlet-name>
  	<display-name>SolveQueryServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.SolveQueryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplyServlet</servlet-name>
  	<display-name>ApplyServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.ApplyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExperienceServlet</servlet-name>
  	<display-name>ExperienceServlet</display-name>
  	<description></description>
  	<servlet-class>placmenMangmentSystem.servlets.ExperienceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RgisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCompanyServlet</servlet-name>
  	<url-pattern>/AddCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveCompanyServlet</servlet-name>
  	<url-pattern>/RemoveCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSelectedStudentServlet</servlet-name>
  	<url-pattern>/AddSelectedStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentQueryServlet</servlet-name>
  	<url-pattern>/StudentQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SolveQueryServlet</servlet-name>
  	<url-pattern>/SolveQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplyServlet</servlet-name>
  	<url-pattern>/ApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExperienceServlet</servlet-name>
  	<url-pattern>/ExperienceServlet</url-pattern>
  </servlet-mapping>
 
</web-app>
